
.bodyContainer {
    flex-direction: column;
}
.bodyColumn {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 1rem 0 1rem;
    width: 100%;
}
#backgroundHomesharer, #backgroundHomeowner {
    background-size: cover;
    width: 100%;
    height: 20rem;
    background-position: center;
    box-shadow: var(--shadow-base);
    border-radius: var(--border-radius-nav);
}
#homeOwnerFormButton, #homeSharerFormButton {
    width: 1.8rem;
    height: 1.8rem;
    vertical-align: middle;
    margin-right: 1rem;
}
.navElement {
    margin: 2rem;
}
#backgroundHomesharer {
    background-image: url(../src/images/homeSharerBackground.jpg);
}
#backgroundHomeowner {
    background-image: url(../src/images/homeOwnerBackground.jpg);
}

@media (min-width: 768px) { 
    #backgroundHomesharer, #backgroundHomeowner {
        height: 25rem;
    }
}

@media (min-width: 1024px) { 
    .bodyContainer {
        flex-direction: row;
    }
    .bodyColumn {
        width: 50%;
    }
    #backgroundHomesharer, #backgroundHomeowner {
        height: 28rem;
    }
    #homeOwnerFormButton, #homeSharerFormButton {
    width: 2.8rem;
    height: 2.8rem;
    }
}